/** Theme based on Nuxt UI: https://github.com/nuxt/ui/blob/v4/src/templates.ts */

@variant light (&:where(.light, .light *));
@variant dark (&:where(.dark, .dark *));

/* Default Tokens */
@theme {
  /* Animate */
  --animate-backdrop-in: fade-in 250ms var(--ease-in);
  --animate-backdrop-out: fade-out 200ms var(--ease-out);
  --animate-collapse-in: collapse-in 250ms var(--ease-in);
  --animate-collapse-out: collapse-out 200ms var(--ease-out);
  --animate-dialog-in: slide-in 400ms var(--ease-in);
  --animate-dialog-out: slide-out 200ms var(--ease-out);
  --animate-drawer-in-left: slide-in-left 400ms var(--ease-in);
  --animate-drawer-out-left: slide-out-left 200ms var(--ease-out);
  --animate-drawer-in-right: slide-in-right 200ms var(--ease-in);
  --animate-drawer-out-right: slide-out-right 400ms var(--ease-out);
  --animate-fade-in: fade-in 400ms var(--ease-in);
  --animate-fade-out: fade-out 200ms var(--ease-out);

  /* Breakpoint */
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;

  /* Color - Primary */
  --color-primary-50: var(--color-indigo-50);
  --color-primary-100: var(--color-indigo-100);
  --color-primary-200: var(--color-indigo-200);
  --color-primary-300: var(--color-indigo-300);
  --color-primary-400: var(--color-indigo-400);
  --color-primary-500: var(--color-indigo-500);
  --color-primary-600: var(--color-indigo-600);
  --color-primary-700: var(--color-indigo-700);
  --color-primary-800: var(--color-indigo-800);
  --color-primary-900: var(--color-indigo-900);
  --color-primary-950: var(--color-indigo-950);

  /* Color - Secondary */
  --color-secondary-50: var(--color-blue-50);
  --color-secondary-100: var(--color-blue-100);
  --color-secondary-200: var(--color-blue-200);
  --color-secondary-300: var(--color-blue-300);
  --color-secondary-400: var(--color-blue-400);
  --color-secondary-500: var(--color-blue-500);
  --color-secondary-600: var(--color-blue-600);
  --color-secondary-700: var(--color-blue-700);
  --color-secondary-800: var(--color-blue-800);
  --color-secondary-900: var(--color-blue-900);
  --color-secondary-950: var(--color-blue-950);

  /* Color - Tertiary  */
  --color-tertiary-50: var(--color-fuchsia-50);
  --color-tertiary-100: var(--color-fuchsia-100);
  --color-tertiary-200: var(--color-fuchsia-200);
  --color-tertiary-300: var(--color-fuchsia-300);
  --color-tertiary-400: var(--color-fuchsia-400);
  --color-tertiary-500: var(--color-fuchsia-500);
  --color-tertiary-600: var(--color-fuchsia-600);
  --color-tertiary-700: var(--color-fuchsia-700);
  --color-tertiary-800: var(--color-fuchsia-800);
  --color-tertiary-900: var(--color-fuchsia-900);
  --color-tertiary-950: var(--color-fuchsia-950);

  /* Color - Success */
  --color-success-50: var(--color-emerald-50);
  --color-success-100: var(--color-emerald-100);
  --color-success-200: var(--color-emerald-200);
  --color-success-300: var(--color-emerald-300);
  --color-success-400: var(--color-emerald-400);
  --color-success-500: var(--color-emerald-500);
  --color-success-600: var(--color-emerald-600);
  --color-success-700: var(--color-emerald-700);
  --color-success-800: var(--color-emerald-800);
  --color-success-900: var(--color-emerald-900);
  --color-success-950: var(--color-emerald-950);

  /* Color - Info */
  --color-info-50: var(--color-sky-50);
  --color-info-100: var(--color-sky-100);
  --color-info-200: var(--color-sky-200);
  --color-info-300: var(--color-sky-300);
  --color-info-400: var(--color-sky-400);
  --color-info-500: var(--color-sky-500);
  --color-info-600: var(--color-sky-600);
  --color-info-700: var(--color-sky-700);
  --color-info-800: var(--color-sky-800);
  --color-info-900: var(--color-sky-900);
  --color-info-950: var(--color-sky-950);

  /* Color - Warning */
  --color-warning-50: var(--color-amber-50);
  --color-warning-100: var(--color-amber-100);
  --color-warning-200: var(--color-amber-200);
  --color-warning-300: var(--color-amber-300);
  --color-warning-400: var(--color-amber-400);
  --color-warning-500: var(--color-amber-500);
  --color-warning-600: var(--color-amber-600);
  --color-warning-700: var(--color-amber-700);
  --color-warning-800: var(--color-amber-800);
  --color-warning-900: var(--color-amber-900);
  --color-warning-950: var(--color-amber-950);

  /* Color - Error */
  --color-error-50: var(--color-rose-50);
  --color-error-100: var(--color-rose-100);
  --color-error-200: var(--color-rose-200);
  --color-error-300: var(--color-rose-300);
  --color-error-400: var(--color-rose-400);
  --color-error-500: var(--color-rose-500);
  --color-error-600: var(--color-rose-600);
  --color-error-700: var(--color-rose-700);
  --color-error-800: var(--color-rose-800);
  --color-error-900: var(--color-rose-900);
  --color-error-950: var(--color-rose-950);

  /* Color - Surface */
  --color-surface-50: var(--color-slate-50);
  --color-surface-100: var(--color-slate-100);
  --color-surface-200: var(--color-slate-200);
  --color-surface-300: var(--color-slate-300);
  --color-surface-400: var(--color-slate-400);
  --color-surface-500: var(--color-slate-500);
  --color-surface-600: var(--color-slate-600);
  --color-surface-700: var(--color-slate-700);
  --color-surface-800: var(--color-slate-800);
  --color-surface-900: var(--color-slate-900);
  --color-surface-950: var(--color-slate-950);

  /* Container */
  --container-3xs: 16rem;
  --container-2xs: 18rem;
  --container-xs: 20rem;
  --container-sm: 24rem;
  --container-md: 28rem;
  --container-lg: 32rem;
  --container-xl: 36rem;
  --container-2xl: 42rem;
  --container-3xl: 48rem;
  --container-4xl: 56rem;
  --container-5xl: 64rem;
  --container-6xl: 72rem;
  --container-7xl: 80rem;
  --container-8xl: 90rem;
  --container-9xl: 100rem;

  /* Ease */
  --ease-default: cubic-bezier(0, 0, 0.2, 1);
  --ease-in: cubic-bezier(0.05, 0.7, 0.1, 1.0);
  --ease-out: cubic-bezier(0.3, 0.0, 0.8, 0.15);

  /* Radius */
  --radius-xs: calc(var(--spacing) * 0.5);
  --radius-sm: var(--spacing);
  --radius-md: calc(var(--spacing) * 1.5);
  --radius-lg: calc(var(--spacing) * 2);
  --radius-xl: calc(var(--spacing) * 3);
  --radius-2xl: calc(var(--spacing) * 4);
  --radius-3xl: calc(var(--spacing) * 6);
  --radius-4xl: calc(var(--spacing) * 8);

  /* Spacing */
  --spacing: 0.25rem;

  /* Text */
  --text-xs--line-height: 1.125rem;
  --text-sm--line-height: 1.25rem;
  --text-base--line-height: 1.5rem;
  --text-lg--line-height: 1.75rem;
  --text-xl--line-height: 1.875rem;
  --text-2xl--line-height: 2rem;
  --text-3xl--line-height: 2.375rem;
  --text-4xl--line-height: 2.75rem;
  --text-5xl--line-height: 3.75rem;
  --text-6xl--line-height: 4.5rem;
  --text-7xl--line-height: 5.75rem;
  --text-8xl--line-height: 1;
  --text-9xl--line-height: 1;
}

/* Semantic Tokens */
@theme inline {
  /* Background */
  --background-color-default: light-dark(var(--color-surface-50), var(--color-surface-950));
  --background-color-disabled: light-dark(var(--color-surface-50), var(--color-surface-800));
  --background-color-elevated: light-dark(var(--color-surface-200), var(--color-surface-700));
  --background-color-inverted: light-dark(var(--color-surface-950), var(--color-surface-50));
  --background-color-muted: light-dark(var(--color-surface-100), var(--color-surface-800));

  /* Border */
  --border-color-default: light-dark(var(--color-surface-200), var(--color-surface-800));
  --border-color-accented: light-dark(var(--color-surface-300), var(--color-surface-700));
  --border-color-inverted: light-dark(var(--color-surface-950), var(--color-surface-50));
  --border-color-muted: light-dark(var(--color-surface-200), var(--color-surface-700));

  /* Color */
  --color-primary: light-dark(var(--color-primary-600), var(--color-primary-400));
  --color-secondary: light-dark(var(--color-secondary-600), var(--color-secondary-400));
  --color-tertiary: light-dark(var(--color-tertiary-600), var(--color-tertiary-400));
  --color-success: light-dark(var(--color-success-600), var(--color-success-400));
  --color-info: light-dark(var(--color-info-600), var(--color-info-400));
  --color-warning: light-dark(var(--color-warning-600), var(--color-warning-400));
  --color-error: light-dark(var(--color-error-600), var(--color-error-400));
  --color-surface: light-dark(var(--color-surface-600), var(--color-surface-400));

  /* Ring */
  --ring-color-default: light-dark(var(--color-surface-200), var(--color-surface-800));
  --ring-color-accented: light-dark(var(--color-surface-300), var(--color-surface-700));
  --ring-color-inverted: light-dark(var(--color-surface-950), var(--color-surface-50));
  --ring-color-muted: light-dark(var(--color-surface-200), var(--color-surface-700));

  /* Text */
  --text-color-default: light-dark(var(--color-surface-700), var(--color-surface-200));
  --text-color-dimmed: light-dark(var(--color-surface-400), var(--color-surface-500));
  --text-color-highlighted: light-dark(var(--color-surface-950), var(--color-surface-50));
  --text-color-inverted: light-dark(var(--color-surface-50), var(--color-surface-950));
  --text-color-muted: light-dark(var(--color-surface-500), var(--color-surface-400));
  --text-color-toned: light-dark(var(--color-surface-600), var(--color-surface-300));

  /* Z-Index */
  --z-index-hide: -1;
  --z-index-base: 0;
  --z-index-docked: 10;
  --z-index-dropdown: 1000;
  --z-index-sticky: 1100;
  --z-index-banner: 1200;
  --z-index-overlay: 1300;
  --z-index-modal: 1400;
  --z-index-popover: 1500;
  --z-index-skipLink: 1600;
  --z-index-toast: 1700;
  --z-index-tooltip: 1800;
}
