:root {
  /* Color - Primary */
  --color-primary-50: oklch(0.966 0.011 280.57);
  --color-primary-100: oklch(0.923 0.026 281.13);
  --color-primary-200: oklch(0.847 0.053 278.15);
  --color-primary-300: oklch(0.779 0.078 277.09);
  --color-primary-400: oklch(0.704 0.107 274.92);
  --color-primary-500: oklch(0.628 0.136 272.39);
  --color-primary-600: oklch(0.551 0.163 269.13);
  --color-primary-700: oklch(0.479 0.143 268.97);
  --color-primary-800: oklch(0.367 0.109 269.08);
  --color-primary-900: oklch(0.255 0.076 268.89);
  --color-primary-950: oklch(0.19 0.057 269.7);

  /* Color - Secondary */
  --color-secondary-50: oklch(0.966 0.012 281.17);
  --color-secondary-100: oklch(0.931 0.024 278.4);
  --color-secondary-200: oklch(0.863 0.049 276.42);
  --color-secondary-300: oklch(0.796 0.076 275.43);
  --color-secondary-400: oklch(0.703 0.113 273.02);
  --color-secondary-500: oklch(0.61 0.151 268.71);
  --color-secondary-600: oklch(0.516 0.154 266.6);
  --color-secondary-700: oklch(0.428 0.127 266.63);
  --color-secondary-800: oklch(0.331 0.099 266.62);
  --color-secondary-900: oklch(0.235 0.071 266.99);
  --color-secondary-950: oklch(0.179 0.054 267.34);

  /* Color - Tertiary  */
  --color-tertiary-50: oklch(0.966 0.013 277.13);
  --color-tertiary-100: oklch(0.931 0.027 276.87);
  --color-tertiary-200: oklch(0.854 0.058 274.36);
  --color-tertiary-300: oklch(0.788 0.086 271.88);
  --color-tertiary-400: oklch(0.719 0.117 270.24);
  --color-tertiary-500: oklch(0.651 0.147 267.04);
  --color-tertiary-600: oklch(0.575 0.172 263.2);
  --color-tertiary-700: oklch(0.506 0.151 263.36);
  --color-tertiary-800: oklch(0.436 0.13 262.89);
  --color-tertiary-900: oklch(0.363 0.108 263.22);
  --color-tertiary-950: oklch(0.253 0.075 263.06);

  /* Color - Success */
  --color-success-50: oklch(0.958 0.013 266.74);
  --color-success-100: oklch(0.922 0.024 270.36);
  --color-success-200: oklch(0.846 0.048 268.36);
  --color-success-300: oklch(0.768 0.074 266.6);
  --color-success-400: oklch(0.691 0.101 263.57);
  --color-success-500: oklch(0.598 0.114 260.51);
  --color-success-600: oklch(0.511 0.097 260.47);
  --color-success-700: oklch(0.414 0.08 261.08);
  --color-success-800: oklch(0.319 0.062 262.2);
  --color-success-900: oklch(0.232 0.046 261.73);
  --color-success-950: oklch(0.178 0.034 259.9);

  /* Color - Info */
  --color-info-50: oklch(0.964 0.013 251.55);
  --color-info-100: oklch(0.938 0.023 252.17);
  --color-info-200: oklch(0.87 0.05 247.46);
  --color-info-300: oklch(0.808 0.076 245.26);
  --color-info-400: oklch(0.746 0.106 241.63);
  --color-info-500: oklch(0.642 0.098 241.48);
  --color-info-600: oklch(0.541 0.082 240.49);
  --color-info-700: oklch(0.437 0.067 241.33);
  --color-info-800: oklch(0.343 0.052 240.99);
  --color-info-900: oklch(0.239 0.037 242.36);
  --color-info-950: oklch(0.188 0.029 240.98);

  /* Color - Warning */
  --color-warning-50: oklch(0.957 0.007 286.45);
  --color-warning-100: oklch(0.916 0.013 286.22);
  --color-warning-200: oklch(0.839 0.026 285.86);
  --color-warning-300: oklch(0.751 0.041 285.38);
  --color-warning-400: oklch(0.667 0.056 284.8);
  --color-warning-500: oklch(0.584 0.07 284.03);
  --color-warning-600: oklch(0.497 0.081 283.08);
  --color-warning-700: oklch(0.411 0.083 282.15);
  --color-warning-800: oklch(0.324 0.065 282.17);
  --color-warning-900: oklch(0.227 0.046 282.11);
  --color-warning-950: oklch(0.179 0.037 282.07);

  /* Color - Error */
  --color-error-50: oklch(0.963 0.017 219.58);
  --color-error-100: oklch(0.927 0.036 221.16);
  --color-error-200: oklch(0.849 0.082 217.82);
  --color-error-300: oklch(0.76 0.087 216.73);
  --color-error-400: oklch(0.667 0.077 217.13);
  --color-error-500: oklch(0.58 0.066 217.36);
  --color-error-600: oklch(0.495 0.057 216.97);
  --color-error-700: oklch(0.401 0.046 217.28);
  --color-error-800: oklch(0.315 0.037 218.48);
  --color-error-900: oklch(0.222 0.026 217.88);
  --color-error-950: oklch(0.176 0.02 213.63);

  /* Color - Surface */
  --color-surface-50: oklch(0.95 0.069 143.09);
  --color-surface-100: oklch(0.907 0.138 142.7);
  --color-surface-200: oklch(0.817 0.183 142.03);
  --color-surface-300: oklch(0.742 0.167 142.01);
  --color-surface-400: oklch(0.659 0.148 141.96);
  --color-surface-500: oklch(0.583 0.131 142.17);
  --color-surface-600: oklch(0.498 0.111 142.14);
  --color-surface-700: oklch(0.422 0.095 141.8);
  --color-surface-800: oklch(0.338 0.076 141.7);
  --color-surface-900: oklch(0.261 0.058 141.61);
  --color-surface-950: oklch(0.219 0.049 142.83);
}
