:root {
  /* Color - Primary */
  --color-primary-50: oklch(0.967 0.008 301.56);
  --color-primary-100: oklch(0.924 0.021 301.21);
  --color-primary-200: oklch(0.857 0.039 298.66);
  --color-primary-300: oklch(0.78 0.062 299.87);
  --color-primary-400: oklch(0.705 0.086 300.04);
  --color-primary-500: oklch(0.632 0.108 300.21);
  --color-primary-600: oklch(0.564 0.127 300.41);
  --color-primary-700: oklch(0.486 0.124 300.2);
  --color-primary-800: oklch(0.37 0.095 299.93);
  --color-primary-900: oklch(0.255 0.067 299.62);
  --color-primary-950: oklch(0.192 0.05 300.22);

  /* Color - Secondary */
  --color-secondary-50: oklch(0.957 0.015 316.1);
  --color-secondary-100: oklch(0.918 0.031 315.97);
  --color-secondary-200: oklch(0.844 0.061 316.48);
  --color-secondary-300: oklch(0.76 0.098 316.43);
  --color-secondary-400: oklch(0.686 0.131 317.41);
  --color-secondary-500: oklch(0.607 0.156 317.89);
  --color-secondary-600: oklch(0.516 0.131 317.77);
  --color-secondary-700: oklch(0.418 0.107 317.74);
  --color-secondary-800: oklch(0.329 0.085 318.18);
  --color-secondary-900: oklch(0.231 0.059 317.19);
  --color-secondary-950: oklch(0.181 0.047 317.69);

  /* Color - Tertiary  */
  --color-tertiary-50: oklch(0.96 0.016 335.2);
  --color-tertiary-100: oklch(0.917 0.033 333.64);
  --color-tertiary-200: oklch(0.837 0.07 334.8);
  --color-tertiary-300: oklch(0.754 0.112 334.55);
  --color-tertiary-400: oklch(0.674 0.157 335.3);
  --color-tertiary-500: oklch(0.587 0.145 335.07);
  --color-tertiary-600: oklch(0.498 0.123 335.15);
  --color-tertiary-700: oklch(0.41 0.101 335.89);
  --color-tertiary-800: oklch(0.32 0.079 336.06);
  --color-tertiary-900: oklch(0.231 0.058 334.51);
  --color-tertiary-950: oklch(0.182 0.046 335.04);

  /* Color - Success */
  --color-success-50: oklch(0.959 0.06 145.8);
  --color-success-100: oklch(0.906 0.149 144.94);
  --color-success-200: oklch(0.824 0.212 144.17);
  --color-success-300: oklch(0.756 0.194 144.27);
  --color-success-400: oklch(0.681 0.175 144.1);
  --color-success-500: oklch(0.606 0.156 144.2);
  --color-success-600: oklch(0.53 0.136 144.16);
  --color-success-700: oklch(0.428 0.11 144.16);
  --color-success-800: oklch(0.337 0.086 144.08);
  --color-success-900: oklch(0.235 0.06 144.58);
  --color-success-950: oklch(0.182 0.045 144.75);

  /* Color - Info */
  --color-info-50: oklch(0.976 0.008 349.5);
  --color-info-100: oklch(0.943 0.02 349.18);
  --color-info-200: oklch(0.894 0.04 347.18);
  --color-info-300: oklch(0.835 0.066 347.13);
  --color-info-400: oklch(0.739 0.115 346.6);
  --color-info-500: oklch(0.652 0.169 346.76);
  --color-info-600: oklch(0.554 0.146 347.07);
  --color-info-700: oklch(0.446 0.119 346.88);
  --color-info-800: oklch(0.349 0.092 347.52);
  --color-info-900: oklch(0.241 0.063 347.47);
  --color-info-950: oklch(0.196 0.051 348.34);

  /* Color - Warning */
  --color-warning-50: oklch(0.958 0.006 308.71);
  --color-warning-100: oklch(0.915 0.01 311.35);
  --color-warning-200: oklch(0.837 0.021 311.13);
  --color-warning-300: oklch(0.754 0.032 309.02);
  --color-warning-400: oklch(0.667 0.046 309.9);
  --color-warning-500: oklch(0.585 0.056 309.95);
  --color-warning-600: oklch(0.498 0.049 309.61);
  --color-warning-700: oklch(0.409 0.041 310.17);
  --color-warning-800: oklch(0.322 0.032 308.65);
  --color-warning-900: oklch(0.226 0.023 309.33);
  --color-warning-950: oklch(0.179 0.018 312.67);

  /* Color - Error */
  --color-error-50: oklch(0.968 0.009 8.77);
  --color-error-100: oklch(0.933 0.019 9.42);
  --color-error-200: oklch(0.859 0.041 8.58);
  --color-error-300: oklch(0.792 0.067 8.01);
  --color-error-400: oklch(0.719 0.099 9.29);
  --color-error-500: oklch(0.654 0.134 9.63);
  --color-error-600: oklch(0.578 0.141 9.58);
  --color-error-700: oklch(0.503 0.124 9.89);
  --color-error-800: oklch(0.382 0.094 9.31);
  --color-error-900: oklch(0.267 0.065 10.5);
  --color-error-950: oklch(0.204 0.049 9.63);

  /* Color - Surface */
  --color-surface-50: oklch(0.963 0.021 227.47);
  --color-surface-100: oklch(0.918 0.05 223.84);
  --color-surface-200: oklch(0.844 0.104 220.02);
  --color-surface-300: oklch(0.765 0.122 217.98);
  --color-surface-400: oklch(0.698 0.111 217.63);
  --color-surface-500: oklch(0.62 0.099 218.48);
  --color-surface-600: oklch(0.554 0.088 216.9);
  --color-surface-700: oklch(0.477 0.076 217.62);
  --color-surface-800: oklch(0.401 0.063 217.02);
  --color-surface-900: oklch(0.331 0.053 218.81);
  --color-surface-950: oklch(0.295 0.047 217.94);
}
