:root {
  /* Color - Primary */
  --color-primary-50: oklch(0.968 0.013 5.95);
  --color-primary-100: oklch(0.935 0.028 1.43);
  --color-primary-200: oklch(0.862 0.063 2.19);
  --color-primary-300: oklch(0.798 0.099 1.9);
  --color-primary-400: oklch(0.732 0.142 2.08);
  --color-primary-500: oklch(0.648 0.209 2.27);
  --color-primary-600: oklch(0.541 0.182 2.29);
  --color-primary-700: oklch(0.442 0.149 2.37);
  --color-primary-800: oklch(0.343 0.116 1.91);
  --color-primary-900: oklch(0.244 0.082 2.28);
  --color-primary-950: oklch(0.195 0.067 1.2);

  /* Color - Secondary */
  --color-secondary-50: oklch(0.975 0.007 340.72);
  --color-secondary-100: oklch(0.941 0.014 343.36);
  --color-secondary-200: oklch(0.89 0.027 340.99);
  --color-secondary-300: oklch(0.801 0.053 341.47);
  --color-secondary-400: oklch(0.708 0.086 340.94);
  --color-secondary-500: oklch(0.618 0.103 340.87);
  --color-secondary-600: oklch(0.52 0.088 341.03);
  --color-secondary-700: oklch(0.432 0.072 341.15);
  --color-secondary-800: oklch(0.335 0.055 341.41);
  --color-secondary-900: oklch(0.237 0.039 341.16);
  --color-secondary-950: oklch(0.181 0.031 340.52);

  /* Color - Tertiary  */
  --color-tertiary-50: oklch(0.968 0.013 5.95);
  --color-tertiary-100: oklch(0.934 0.028 4.06);
  --color-tertiary-200: oklch(0.869 0.06 2.74);
  --color-tertiary-300: oklch(0.802 0.097 3.99);
  --color-tertiary-400: oklch(0.719 0.153 4.08);
  --color-tertiary-500: oklch(0.632 0.215 4.71);
  --color-tertiary-600: oklch(0.533 0.181 4.68);
  --color-tertiary-700: oklch(0.433 0.147 4.77);
  --color-tertiary-800: oklch(0.343 0.117 4.48);
  --color-tertiary-900: oklch(0.245 0.083 4.92);
  --color-tertiary-950: oklch(0.185 0.065 4.6);

  /* Color - Success */
  --color-success-50: oklch(0.964 0.05 102.3);
  --color-success-100: oklch(0.92 0.085 103.52);
  --color-success-200: oklch(0.851 0.078 103.08);
  --color-success-300: oklch(0.774 0.071 103.35);
  --color-success-400: oklch(0.695 0.063 102.64);
  --color-success-500: oklch(0.627 0.058 102);
  --color-success-600: oklch(0.55 0.051 102.38);
  --color-success-700: oklch(0.477 0.044 102.91);
  --color-success-800: oklch(0.36 0.032 103.05);
  --color-success-900: oklch(0.249 0.023 104.21);
  --color-success-950: oklch(0.198 0.019 103.11);

  /* Color - Info */
  --color-info-50: oklch(0.968 0.012 358.93);
  --color-info-100: oklch(0.934 0.024 358.38);
  --color-info-200: oklch(0.867 0.054 357.73);
  --color-info-300: oklch(0.78 0.098 358.04);
  --color-info-400: oklch(0.701 0.147 357.51);
  --color-info-500: oklch(0.61 0.182 357.37);
  --color-info-600: oklch(0.521 0.157 357.26);
  --color-info-700: oklch(0.422 0.126 357.4);
  --color-info-800: oklch(0.331 0.099 357.45);
  --color-info-900: oklch(0.234 0.07 357.56);
  --color-info-950: oklch(0.184 0.055 356.43);

  /* Color - Warning */
  --color-warning-50: oklch(0.974 0.01 87.41);
  --color-warning-100: oklch(0.949 0.023 90.72);
  --color-warning-200: oklch(0.892 0.052 91.37);
  --color-warning-300: oklch(0.802 0.048 92.21);
  --color-warning-400: oklch(0.707 0.041 90.7);
  --color-warning-500: oklch(0.611 0.035 91.11);
  --color-warning-600: oklch(0.517 0.03 92.56);
  --color-warning-700: oklch(0.422 0.024 87.55);
  --color-warning-800: oklch(0.328 0.019 94.53);
  --color-warning-900: oklch(0.232 0.014 87.55);
  --color-warning-950: oklch(0.177 0.01 97.91);

  /* Color - Error */
  --color-error-50: oklch(0.967 0.011 357.18);
  --color-error-100: oklch(0.927 0.026 0.03);
  --color-error-200: oklch(0.86 0.054 359.13);
  --color-error-300: oklch(0.788 0.089 0.31);
  --color-error-400: oklch(0.723 0.127 359.43);
  --color-error-500: oklch(0.656 0.171 359.79);
  --color-error-600: oklch(0.555 0.16 359.56);
  --color-error-700: oklch(0.447 0.13 359.63);
  --color-error-800: oklch(0.35 0.101 0.24);
  --color-error-900: oklch(0.243 0.07 0.86);
  --color-error-950: oklch(0.196 0.056 0.27);

  /* Color - Surface */
  --color-surface-50: oklch(0.965 0.009 84.52);
  --color-surface-100: oklch(0.922 0.022 89.77);
  --color-surface-200: oklch(0.846 0.031 90.33);
  --color-surface-300: oklch(0.767 0.028 90.12);
  --color-surface-400: oklch(0.69 0.025 90.8);
  --color-surface-500: oklch(0.611 0.022 87.54);
  --color-surface-600: oklch(0.535 0.019 91.65);
  --color-surface-700: oklch(0.457 0.017 88.76);
  --color-surface-800: oklch(0.383 0.014 89.83);
  --color-surface-900: oklch(0.26 0.009 97.67);
  --color-surface-950: oklch(0.197 0.007 78.15);
}
