:root {
  /* Color - Primary */
  --color-primary-50: oklch(0.975 0.015 67.65);
  --color-primary-100: oklch(0.941 0.04 67.31);
  --color-primary-200: oklch(0.883 0.088 73.47);
  --color-primary-300: oklch(0.825 0.156 79.08);
  --color-primary-400: oklch(0.729 0.138 79.38);
  --color-primary-500: oklch(0.624 0.118 79.31);
  --color-primary-600: oklch(0.529 0.1 79.52);
  --color-primary-700: oklch(0.435 0.082 79.32);
  --color-primary-800: oklch(0.338 0.064 79.23);
  --color-primary-900: oklch(0.234 0.044 78.6);
  --color-primary-950: oklch(0.188 0.037 78.72);

  /* Color - Secondary */
  --color-secondary-50: oklch(0.967 0.018 64.95);
  --color-secondary-100: oklch(0.932 0.037 63.39);
  --color-secondary-200: oklch(0.857 0.091 69.86);
  --color-secondary-300: oklch(0.789 0.129 74.07);
  --color-secondary-400: oklch(0.712 0.116 75.13);
  --color-secondary-500: oklch(0.643 0.104 74.78);
  --color-secondary-600: oklch(0.563 0.091 74.55);
  --color-secondary-700: oklch(0.494 0.081 73.62);
  --color-secondary-800: oklch(0.416 0.068 73.69);
  --color-secondary-900: oklch(0.347 0.056 74.19);
  --color-secondary-950: oklch(0.309 0.05 74.48);

  /* Color - Tertiary  */
  --color-tertiary-50: oklch(0.964 0.019 90.5);
  --color-tertiary-100: oklch(0.93 0.046 93.5);
  --color-tertiary-200: oklch(0.862 0.062 95.16);
  --color-tertiary-300: oklch(0.792 0.057 93.68);
  --color-tertiary-400: oklch(0.727 0.052 94.72);
  --color-tertiary-500: oklch(0.629 0.045 95.3);
  --color-tertiary-600: oklch(0.534 0.038 94.27);
  --color-tertiary-700: oklch(0.431 0.03 95.05);
  --color-tertiary-800: oklch(0.337 0.024 94);
  --color-tertiary-900: oklch(0.231 0.015 89.91);
  --color-tertiary-950: oklch(0.187 0.014 94.01);

  /* Color - Success */
  --color-success-50: oklch(0.961 0.09 114.71);
  --color-success-100: oklch(0.917 0.092 114.09);
  --color-success-200: oklch(0.841 0.086 114.67);
  --color-success-300: oklch(0.763 0.077 113.93);
  --color-success-400: oklch(0.685 0.069 113.8);
  --color-success-500: oklch(0.608 0.061 113.63);
  --color-success-600: oklch(0.531 0.053 114.66);
  --color-success-700: oklch(0.456 0.046 114.42);
  --color-success-800: oklch(0.351 0.036 114.6);
  --color-success-900: oklch(0.241 0.025 114.93);
  --color-success-950: oklch(0.187 0.019 112.89);

  /* Color - Info */
  --color-info-50: oklch(0.966 0.007 208.55);
  --color-info-100: oklch(0.939 0.011 210.91);
  --color-info-200: oklch(0.877 0.023 210.34);
  --color-info-300: oklch(0.812 0.024 210.35);
  --color-info-400: oklch(0.712 0.021 212.52);
  --color-info-500: oklch(0.619 0.018 211);
  --color-info-600: oklch(0.525 0.015 208.69);
  --color-info-700: oklch(0.43 0.013 211.01);
  --color-info-800: oklch(0.327 0.01 207.01);
  --color-info-900: oklch(0.231 0.006 214.37);
  --color-info-950: oklch(0.188 0.005 219.69);

  /* Color - Warning */
  --color-warning-50: oklch(0.967 0.018 48.57);
  --color-warning-100: oklch(0.925 0.042 52.08);
  --color-warning-200: oklch(0.859 0.088 55.59);
  --color-warning-300: oklch(0.786 0.158 64.4);
  --color-warning-400: oklch(0.708 0.153 65.75);
  --color-warning-500: oklch(0.633 0.137 65.65);
  --color-warning-600: oklch(0.534 0.115 66.11);
  --color-warning-700: oklch(0.436 0.094 65.68);
  --color-warning-800: oklch(0.34 0.073 66.12);
  --color-warning-900: oklch(0.234 0.051 64.89);
  --color-warning-950: oklch(0.189 0.042 65.87);

  /* Color - Error */
  --color-error-50: oklch(0.967 0.016 22.18);
  --color-error-100: oklch(0.926 0.036 26.32);
  --color-error-200: oklch(0.861 0.073 29.09);
  --color-error-300: oklch(0.789 0.121 31.15);
  --color-error-400: oklch(0.724 0.169 35.88);
  --color-error-500: oklch(0.649 0.196 40.48);
  --color-error-600: oklch(0.578 0.174 40.51);
  --color-error-700: oklch(0.499 0.151 40.35);
  --color-error-800: oklch(0.425 0.128 40.53);
  --color-error-900: oklch(0.284 0.086 39.89);
  --color-error-950: oklch(0.213 0.064 39.52);

  /* Color - Surface */
  --color-surface-50: oklch(0.959 0.016 58.66);
  --color-surface-100: oklch(0.925 0.03 59.3);
  --color-surface-200: oklch(0.849 0.068 60.85);
  --color-surface-300: oklch(0.773 0.102 65.81);
  --color-surface-400: oklch(0.694 0.092 65.85);
  --color-surface-500: oklch(0.607 0.081 64.66);
  --color-surface-600: oklch(0.529 0.07 64.56);
  --color-surface-700: oklch(0.452 0.06 65.33);
  --color-surface-800: oklch(0.373 0.05 65.25);
  --color-surface-900: oklch(0.296 0.039 66.96);
  --color-surface-950: oklch(0.252 0.033 67.24);
}
